<div class="row">
    <div class="col-md-11 col-md-offset-1 card">
        <h5>Wish list</h5>
        <ul>
            <li><a target="_blank" href="https://www.amazon.co.jp/gp/registry/wishlist/3J02JDJJ0B1I3/ref=as_li_ss_tl?ie=UTF8&linkCode=ll2&tag=mike09-22&linkId=accec1a6266c7600cd09e7c866a66e1e">一般的な物</a><br></li>
            <li><a target="_blank" href="https://www.amazon.co.jp/gp/registry/wishlist/2QWP4B2I4XW29/ref=as_li_ss_tl?ie=UTF8&linkCode=ll2&tag=mike09-22&linkId=df1654ccf324f2b827faf417589df234">逸般的な物</a><br></li>
            <li><a target="_blank" href="https://www.amazon.co.jp/gp/registry/wishlist/24VG6GPSI4BVC/ref=as_li_ss_tl?ie=UTF8&linkCode=ll2&tag=mike09-22&linkId=0f8e789137935a567d1a8e0a355a2e9d">カメラ沼</a></li>
        </ul>
    </div>
</div>
